
@{
    ViewBag.Title = "QueryString";
}

<h2></h2>

<div style="color:beige">
    <h2>Passing Data From View To Controller </h2>
    <h3>-Using Query String</h3>

    <form method="get" action=@Url.Action("QueryString", "ViewTo")>
        <table>
            <tr>
                <td>Enter First Name</td>
                <td><input style="color:black" type="text" id="fname_id" name="first_name" /></td>
            </tr>
            <tr>
                <td>Enter Last Name</td>
                <td><input style="color:black" type="text" id="lname_id" name="last_name" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input style="color:black" type="submit" /></td>
            </tr>
        </table>
    </form>
</div>
