
@{
    ViewBag.Title = "FormCollection";
}

<div style="color:beige">
    <h2>Passing Data From View To Controller </h2>
    <h3>-Using Form Collection</h3>

    <form method="post" action=@Url.Action("FormCollection", "ViewTo")>
        <table>
            <tr>
                <td>Enter First Name</td>
                <td><input style="color:black" type="text" id="fname_id" name="fname_name" /></td>
            </tr>
            <tr>
                <td>Enter Last Name</td>
                <td><input style="color:black" type="text" id="lname_id" name="lname_name" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input style="color:black" type="submit" /></td>
            </tr>
        </table>
    </form>
</div>

