
@{
    ViewBag.Title = "Index";
}

<div>
    <h2>Passing Data From View To Controller </h2>

    <div class="container">
        <div class="row">
            @Html.ActionLink("Form Collection", "FormCollection", "ViewTo", null, new { @class = "btn btn-info .col-md-4 mx-auto" })
            @Html.ActionLink("Request Object", "RequestObject", "ViewTo", null, new { @class = "btn btn-info .col-md-4 mx-auto" })
            @Html.ActionLink("Query String", "QueryString", "ViewTo", null, new { @class = "btn btn-info .col-md-4 mx-auto" })
            @Html.ActionLink("Model Binding", "ModelBinding", "ViewTo", null, new { @class = "btn btn-info .col-md-4 mx-auto" })

        </div>
    </div>




</div>
