
@{
    ViewBag.Title = "Index";
}

<h1>Demonstration</h1>

<hr />



<h4>Action Result</h4>

<p>@Html.ActionLink("1. Action Result ", "Index", "ActionResult") </p>

<h4>Passing Data </h4>

<p>@Html.ActionLink("1. From View To Controller", "Index", "ViewTo") </p>


<h4>Model Binding </h4>

<p>@Html.ActionLink("1. Model Binding", "Index", "UserModels") </p>